body.site {
    .central {
        .img-body {
            position: fixed;
            top: 0;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                margin: auto;
                opacity: 1;
            }
        }
        .text-body {
            position: absolute;
            top: 50vh;
            left: 0;
            width: 100%;
            padding: 100px 20px;
            background: #ccc;
            opacity: 0;
            z-index: 100;
            h1 {
                font-size: 4.5rem;
                text-align: center;
                color: white;
            }
            p {
                text-align: center;
                color: white;
            }
        }
    }
}