body.site {
    .body-container {
        width: auto;
        max-width: 1920px;
        padding-top: 0px;
        padding-left: 0%;
        padding-right: 0%;
        margin: auto;
        margin-left: auto;
        clear: none;
        float: none;
        background-color: black;
        span.arrow {
            position: fixed;
            right: 20px;
            bottom: 20px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 9999;
            i {
                color: blanchedalmond;
                font-size: 2rem;
            }
        }
        .img-container {
            position: relative;
            width: 100%;
            min-height: 920px;
            height: 2000px;
            margin: 0 auto 0 auto;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            .text-container {
                position: absolute;
                width: 100%;
                top: 100vh;
                background-color: #F8F7F3;
                z-index: 9;
                .title-text-container {
                    position: relative;
                    height: 5vh;
                    h1 {
                        padding: 5px 0;
                        font-family: $nunito;
                        font-size: 1.750rem;
                        line-height: 2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        color: #614D40;
                    }
                }
                .body-text-container {
                    p {
                        white-space: pre-line;
                        font-family: $nunito;
                        text-align: center;
                        color: #614D40;
                    }
                }
            }
        }
    }
}